.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
}

.hero-containe {
  max-width: 1440px;
  margin-inline: auto;
  background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero.jpg),url("../images/Dark-bg@2x.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}
.hero-section {
  align-items: center;
  margin-right: auto;
}
.hero-title {
  margin-bottom: 48px;
  font-size: 56px;
  line-height: 1.08;
  letter-spacing: 0.02em;
  color: var(--primary-color-white);
}

.modal-btn {
  padding: 16px 32px;
  background: var(--primary-color-blue);
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-color-white);
  cursor: pointer;
  border-radius:4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover,
.modal-btn:focus {
  color: var(--primary-color-white);
  background: var(--color-navy);
}
.modal-buttob:hover,
.modal-button:focus {
  color: var(--color-navy);
  transition: transform 250ms linear;
}
.services {
  padding-top: 120px;
  padding-bottom: 120px;
}
.card-set-our-services>.card-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}
.card-set-our-services {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 23px;
}
.framese-icon-icon{
  display: flex;
  justify-content: center;
  width: 264px;
  height: 112px;
  align-items: center;
  background: #F4F4FD;
  border-radius:4px ;
  margin-bottom:8px;
}
.commands-section {
  background: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

.commands-1 {
  display: flex;
  flex-wrap: wrap;

}
.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  background-color: #ffffff;
  fill:#808080;
}
.social-list-link:focus,
.social-list-link:hover,
.icon:hover,
.icon:focus{
  background-color:#404BBF;
}
.social-list-item {
  width: 40px;
  height: 40px;
}
.social-list-item:not(:last-child) {
  margin-right: 24px;
}
.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var(--primary-color-blue);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}
.commands {
  display: flex;
  gap: 11px;
}
.commands-1-card:not(:nth-child(3n)) {
  margin-right: 24px;
}
.frame-mein {
  border-top: 1px solid #e7e9fc;
  box-shadow: 0px 2px 4px rgba(46, 47, 66, 0.08),0px 2px 4px rgba(46, 47, 66, 0.16), 0px 2px 4px rgba(46, 47, 66, 0.08);
}
.frame {
  padding-top: 32px;
  padding-bottom:32px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom:1px solid #e7e9fc ;
}
.frames {
  padding-top: 32px;
  padding-bottom:32px;
  border: 1px solid #e7e9fc;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 2px 1px 6px rgba(46, 47, 66, 0.08);
}
.appendix {
  font-weight:var( --primary-font);
  flex-basis: calc((100% - 48px) / 3);

  margin-bottom: 8px;
}
.heabers-commands {
  font-weight: var(--primary-font);
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-color-dark-gray);
}
.heabers-commands-text {
  padding-top: 8px;
  padding-bottom: 32px;
  align-items: center;
}
.subtitles {
  margin-top: 8px;
  margin-bottom: 8px;
  text-align: center;
}

.card-set-appendix {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  row-gap: 48px;
  column-gap:24px ;
}
.card-set-appendix > .appendix-card-item {
  flex-basis: calc((100% - 48px) / 3);
  box-shadow:  0px 1px 6px 0px rgba(46,47,66,0.08);
}
.card-set-appendix > .appendix-card-item:hover {
  flex-basis: calc((100% - 48px) / 3);
  box-shadow:0px 1px  6px rgba(46, 47, 66, 0.08),0px 1px 1px rgba(46, 47, 66, 0.16),0px  1px 1px rgba(46, 47, 66, 0.08);
}
.appendix-card-img-item{
  overflow: hidden;
  position: relative;
}
.appendix-card-item{
  display: block;
}
.overlay{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow: auto;
  transform: translate(0 ,100%);
  transition: transform 250ms;
  color: #f4f4fd;
  background-color: #4D5AE5;
  transition-duration:250ms;
  box-shadow: 0px 2px 4px rgba(46, 47, 66, 0.08),0px 2px 4px rgba(46, 47, 66, 0.16), 0px 2px 4px rgba(46, 47, 66, 0.08);
}
.appendix-card-img-item:hover,
.appendix-card-img-item:focus{
  box-shadow: 0px 2px 4px rgba(46, 47, 66, 0.08),0px 2px 4px rgba(46, 47, 66, 0.16), 0px 2px 4px rgba(46, 47, 66, 0.08);
}
.link-appendix-card-item:hover .overlay,
.link-appendix-card-item:focus .overlay{
  transform: translate(0,0);
}
img {
  display: block;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.frame-appendix{
  padding-left: 16px;
}
.appendix {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color-dark-gray);
}

.appendix-card:not(:nth-last-child(-n + 3)) {
  margin-bottom: 120px;
}

.subtitle {
  margin-top: 8px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color-dark-gray);
}
.subtitle-comands {
  margin-bottom: 8px;
  font-weight: var(--primary-font);
  font-size: 20px;
  line-height: 1.2;
  text-align: left;
  letter-spacing: 0.02em;
  color: var(--primary-color-dark-gray);
}

.doing {
  padding-bottom: 120px;
}
.doing-text {
  margin-bottom: 72px;
}
.main-text {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/*------ / Components ---------*/


.modal-btn-marketing:hover,
.modal-btn-marketing:focus {
  color: var(--primary-color-white);
  background: var(--color-navy);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.modal-btn-marketing {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #E7E9FC;
  border-radius: 4px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-color-blue);
  background: var(--secondary-color-white);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.marketings {
  padding-bottom:72px ;

}
.marketing-section {
  padding-top: 108px;
}
.marketing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 72px;
}

.btn-marketing-card:not(:nth-child(3n)) {
  margin-right: 24px;
}

/* ------ HERO ------ */

/*---- Main content -----*/

.our-services {
  align-items: center;
  color: var(--secondary-color-dark-gray);
}
/*---Customers---*/

.customers-list-item  {
  fill: #8E8F99;
  width: 168px;
  height: 88px;
}
.customers-list-item:not(:last-child) {
  margin-right: 24px;
}

.icon-Logo{
  background-color: var(--color-light-gray);
  fill: var(--color-light-gray);
}
.customers-list-icon {
  fill: currentColor;
}
.customers-list-link{
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: var(--color-light-gray);
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}
.customers{
  margin-top:120px ;
  margin-bottom: 120px;
}
.customers-list  {
  margin-top: 72px;
  display: flex;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
}
.customers-list-link:hover,
.customers-list-link:focus {
  color: var(--primary-color-blue);
  border-color: var(--primary-color-blue);
}


.socials-media {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  color:var(--primary-color-white);
}
.socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials-list-icon {
  fill: var(--primary-color-white);
}
/*.socials-list-icon,
.icon {
  fill: var(--primary-color-white);
}*/
/*.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  stroke-width: 0;
  stroke: currentColor;
  background-color: white;
  fill: currentColor;
  background-color: #ffffff;
  fill:#808080;
}*/

.socials-list-link:hover,
.socials-list-link:focus,
.icon:hover,
.icon:focus{
  background-color: #31D0AA;
  border-radius: 50%;
}
.socials-list-item {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}
.socials-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}

/*======== MODAL WINDOV ======*/



