@import "root";
@import "header";
@import "content";
@import "footer";
@import "mobile-menu";
@import "mobile-content";
@import "tablet";


h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.dackdrop{
  position: fixed;
  top: 0;
  left: 0;
  z-index:100;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.2) ;
  transition: opacity var(--transition),cubic-bezier(0.4, 0, 0.2, 1),
  visibility var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}
.dackdrop.is-hidden{
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal{
  position: absolute;
  top: 50%;
  left: 50%;
  transition: var(--transition);
  transform: translate(-50%,-50%);
  width: 408px;
  height: 576px;
  background-color: var(--primary-color-white);
  padding: 72px 24px 24px;
}
@media screen and (min-width: 320px) and (max-width: 479px){
  .modal {
    width: 100%;
    height: auto;
  }
}

.modal-close-btn{
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #8E8F99;
  padding: 0;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1),0px 1px 1px 0px
  rgba(0, 0, 0, 0.1),0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn-icon:hover,
.modal-close-btn-icon:focus{
  background-color: var(--color-navy);
  transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus{
  border-color: var(--color-navy);
  background-color: var(--color-navy);
  fill: white;
  transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-icon-x-1:focus,
.icon-icon-x-1:hover{
  fill: white;
}
.icon-icon-x-1{
  transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn-icon:hover,
.modal-close-btn-icon:focus{
  background-color: #4d5ae5;
  background: #4d5ae5;
  fill: white;
}

.modal-close-btn-icon{
  transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);


}
/*====== MODAL FORM =======*/

.modal-form-text{
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-color-dark-gray);
}
.modal-form{
  flex-direction: column;
}
.modal-form-field{
  margin-bottom: 4px;
  display: inherit;
}
.modal-form-input-desc{
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  margin-bottom: 4px;
  color: var(--color-light-gray);
}
.modal-form-input{
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid var(--color-light-gray);
  border-radius: 4px;
  padding-left: 38px;
  transition: border-color  var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus{
  border-color: var(--color-navy);
  transition: background-color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-icon{
  position: absolute;
  top: 50%;
  left: 16px;
  transform:translate(0,-50%);
  display: block;
  width: 18px;
  height: 18px;
  fill: #8E8F99;
  transition: background-color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
}
.modal-form-input-icon:focus {
  outline: none;
  border-color: var(--color-navy);
  transition: background-color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input-wrapper{
  position: relative;
  display: block;
}
.modal-form-input:focus+.modal-form-input-icon{
  fill: var(--color-navy);
}
.modal-form-message{
  resize: none;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: background-color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);;
}

.modal-form-message:focus{
  border-color: var(--color-navy);
  outline: none;
}
.modal-form-check-desc::before{
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--color-light-gray);
  cursor: pointer;
  border-radius: 4px;
  margin-right: 8px;
  content: '';
}
.modal-form-check-desco{
  color: var(--color-navy);
}
.modal-form-check-desc{
  margin-top: 16px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.3;
  letter-spacing: 0.04em;
  color: #757575;
  margin-bottom: 24px;
}
.modal-form-check:checked+ .modal-form-check-desc::before{
  background-color:var(--color-navy);
  background-image: url("../images/galochka.svg");
  background-repeat: no-repeat;
  fill: var(--primary-color-white);
  background-position: center;
  transition: border-color  var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check-desc::before{
  background-image: url("../images/galochka.svg");
  background-repeat: no-repeat;
  fill: var(--primary-color-white);
  outline: 2px solid rgba(0, 0, 255, 0.5);
  transition: border-color  var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
}
.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}


.modal-form-submit{
  width: 169px;
  margin-left: 94px;
  height: 56px;
  left: 635px;
  top: 584px;
  align-self: center;
  padding: 16px 32px;
  background: var(--primary-color-blue);
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-color-white);
  cursor: pointer;
  border-radius:4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-color-white);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  color: var(--primary-color-white);
  background: var(--color-navy);
}
.modal-form-submit:hover,
.modal-form-submit:focus {
  color: var(--color-navy);
  transition: transform 250ms linear;
  color: var(--primary-color-white);
}
