@media screen  and (min-width: 480px) {
  .mobile-menu-new {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color-white);
    visibility: hidden;
    pointer-events: none;
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-container {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color-white);
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    padding: 80px 15px 40px 40px;
  }

  .menu-container.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    z-index: 999;
    pointer-events: auto;
    width: 100vw;
  }

  .mobile-menu_close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 54px;
    right: 64px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: none;
    padding: 0;
    line-height: 0;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu_close-btn:hover,
  .mobile-menu_close-btn:focus {
    border-color: var(--color-navy);
    background-color: var(--color-navy);
    fill: white;
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-icon-x-1:focus,
  .icon-icon-x-1:hover {
    fill: white;
  }


  .mobile-menu-nav {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--primary-color-dark-gray);
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    transition-duration: 250ms;
  }
  .mobile-menu-nav-link:hover,
  .mobile-menu-nav-link:focus {
    color: var(--color-navy);
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    transition-duration: 250ms;
  }

  .mobile-menu-nav-item {
    margin-bottom: 40px;
  }
  .mobile-menu-nav-link {
    color: var(--primary-color-dark-gray);
  }
  .mobile-menu-contacts {
    margin-top: calc(47vh - 35px);
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #434455;
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    transition-duration: 250ms;
  }
  /*.mobile-contact-phone-number,*/
  .mobile-contact-emil {
    color: #434455;
  }
  .mobile-contact-phone-number/*:hover,
  .mobile-contact-emil:focus */{
    color: var(--color-navy);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    transition-duration: 250ms;
  }
  .mobile-contact-phone-number:hover,
  .mobile-contact-emil:focus {
    color: var(--color-navy);
  }
  .mobile-social-list {
    margin-top: 48px;
    display: flex;
    gap: 56px;
  }
  .mobile-social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-blue);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-email {
    margin-left: 0;
    margin-top: 40px;
  }
}
@media screen  and (min-width: 768px) {
  .mobile-menu{
    display: none;
  }

}

@media screen and (min-width: 320px) and (max-width: 479px){
  .mobile-menu-new {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--primary-color-white);
    visibility: hidden;
    pointer-events: none;
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-container {
    position: relative;
    height: 100vh;
    background-color: var(--primary-color-white);
    opacity: 0;
    visibility: hidden;
    padding: 80px 15px 40px 40px;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }

  .menu-container.is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    z-index: 999;
    pointer-events: auto;
    width: 100vw;
  }

  .mobile-menu_close-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 54px;
    right: 64px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: none;
    padding: 0;
    line-height: 0;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 1px 0px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu_close-btn:hover,
  .mobile-menu_close-btn:focus {
    border-color: var(--color-navy);
    background-color: var(--color-navy);
    fill: white;
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
  }

  .icon-icon-x-1:focus,
  .icon-icon-x-1:hover {
    fill: white;
  }


  .mobile-menu-nav {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: var(--primary-color-dark-gray);
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    transition-duration: 250ms;
  }
  .mobile-menu-nav-link:hover,
  .mobile-menu-nav-link:focus {
    color: var(--color-navy);
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    transition-duration: 250ms;
  }

  .mobile-menu-nav-item {
    margin-bottom: 40px;
  }
  .mobile-menu-nav-link {
    color: var(--primary-color-dark-gray);
  }
  .mobile-menu-contacts {
    margin-top: calc(33vh - 35px);
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #434455;
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    transition-duration: 250ms;
  }
  /*.mobile-contact-phone-number,*/
  .mobile-contact-emil {
    color: #434455;
  }
  .mobile-contact-phone-number/*:hover,
  .mobile-contact-emil:focus*/ {
    color: var(--color-navy);
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    transition: color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: background-color;
    transition-duration: 250ms;
  }
  .mobile-contact-phone-number:hover,
  .mobile-contact-emil:focus {
    color: var(--color-navy);
  }
  .mobile-social-list {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    gap: 56px;

  }
  .mobile-social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color-blue);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color var(--transition) cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-email {
    margin-left: 0;
    margin-top: 40px;
  }
}
@media screen  and (min-width: 767px) {
  .mobile-menu{
    display: none;
  }
}
