:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-color-white: #ffffff;
  --secondary-color-white: #f4f4fd;
  --third-color-white: #e7e9fc;
  --primary-color-blue: #4d5ae5;
  --secondary-color-blue: #404bbf;
  --primary-color-dark-gray: #2e2f42;
  --secondary-color-dark-gray: #434455;
  --color-navy: #404bbf;
  --color-light-gray: #8E8F99;
  --transition: 250ms;
  --transition-function:cubic-bezier(0.4, 0, 0.2, 1);
}